.splash {
  margin: 0 !important;
  display:block;
  height: 300px;
  font-family: 'Oxygen', sans-serif;

  .workout-splash {
    height: 100%;
    background-image: url("http://static1.squarespace.com/static/54dbf34ce4b05cd95c721a07/t/54dbf4c9e4b066babee77003/1423701200225/Untitled_Panorama1-2.jpg?format=2500w");
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}


.gray-overlay {
  background: rgba(133,133,133, 0.6);
  height: 100%;
  text-align: center;
  color: white;

  h1 {
    padding-top: 100px;
    font-size: 48px;
    font-weight: 700;

  }

  p {
    font-size: 24px;
  }

  .button-cover {
    border: 0;
    background: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      border: 0;
      background: #C0B283;
      padding: 10px;
      display: block;
      width: 30%;
      height: auto;
      border-radius: 5px;
      transition: all 0.2s ;
    }

    button:hover {
      margin-top: -2px;
      margin-left: 0px;
      transform: scale3d(1.05, 1.05, 1.05);
      box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
    }
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 150px;
  padding: 20px;
  background-color: rgba(244,244,244,1);


  div {
    width: 30%;
    height: 100%;
    text-align: center;
    min-width: 200px;
    max-width: 300px;

    span {
      font-size: 24px;
      font-weight: 700;
      color: #373737;
    }

    p {
      position: relative;
      top: 10px;
      font-size: 18px;
      color: #3d3d3d;
    }
  }
}

.why {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: black;

  .but-why {
    font-size: 36px;
    padding: 20px;

  }

  .reasons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    height: 300px;
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;

    img {
      width: 30%;
      height: auto;
      border-radius: 5%;
    }

    div {
      min-width: 300px;
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      * {
        padding: 10px;
      }
      span {
        font-size: 24px

      }

      p {
        font-size: 18px;
      }
    }
  }
}
