$magenta: #C70062;
$magenta1: #DD4992;
$magenta2: #D8207A;
$magenta3: #9F004E;
$magenta4: #79003B;

$gold: #F09A00;
$gold1: #FFC255;
$gold2: #FFB226;
$gold3: #C07B00;
$gold4: #925E00;

$blue: #151FA6;
$blue1: #553BC2;
$blue2: #313BB9;
$blue3: #0F1885;
$blue4: #091065;

h2 {
  margin: 0 !important;
}

.login-form {

  .credentials {
    margin-bottom: 10px;
  }
  .form-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    input {
      border: 0px;
      padding: 5px;
      background: #00AE68;

      &:hover {
        background: #21825B;
      }
    }
  }
}

.auth-toggle {
  display: flex;
  border-radius: 2px;
  transition: all 0.2s ;

  &:hover {
    cursor: pointer
  }

  li {
    padding: 10px 30px;
    min-width: 200px;
    text-align: center;
    background: gray;
  }

  .selected {
    background: white;
  }
}

.ReactModalPortal > div > div {
  padding: 0px !important;
}

.credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    margin-left: auto;
    margin-right: auto;
  }

  .auth-btns {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .auth-btn {
      width: 50%;
      height: 40px;
      text-align: center;
      border: 0;
      background: $magenta1;
      border-radius: 5px;
      transition: all 0.2s ;
      &:hover {
        background: green;
      }
    }
  }
}

.glyphicons {
}
