#navbar {
  display :flex;
  justify-content: space-between;
  background-color: rgba(221, 221, 221, 1);
  height: 50px;
  #logo {
    height: 50px;
    width: 150px;
    &:hover {
      cursor: pointer;
    }

  }
}


#login-info {
  display: flex;
  justify-content: flex-start;
}

#login-info * {
  margin-left: 10px;
}
