#navbar {
  display :flex;
  justify-content: space-between;
}

#logo {
  border: 1px solid black;
}

#login-info {
  display: flex;
  justify-content: flex-start;
}

#login-info * {
  margin-left: 10px;
}
