// Place all the styles related to the API::workouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$magenta: #C70062;
$magenta1: #DD4992;
$magenta2: #D8207A;
$magenta3: #9F004E;
$magenta4: #79003B;

$gold: #F09A00;
$gold1: #FFC255;
$gold2: #FFB226;
$gold3: #C07B00;
$gold4: #925E00;

$blue: #151FA6;
$blue1: #525BC2;
$blue2: #313BB9;
$blue3: #0F1885;
$blue4: #091065;

.workout-modal {
  margin: 20px;
  table {
    tr {
      border-left: 1px solid gray;
      border-right: 1px solid gray;

      &:last-child {

        border-bottom: 1px solid gray;
      }
    }

  }

}

.workout-show-buttons {
  background-color:white;
  display:flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  position: relative;
}

table {
  border-collapse: collapse;
  border: 1 solid lightgray;
}

tr {
  background-color: white;
  border: 1px solid gray;
  text-align: left;
  margin-bottom: 5px;
  &:nth-child(even) {
    background-color: lightgray;
  }
}

thead tr {
  background-color: $gold1;
}

.workout-title {
  display: block;
  text-align: center;
  font-size: 24px;
}



table.workouts {
  width: 90%;
  margin: 0 auto   ;
  border-spacing: 0 6px;
  margin-top: 30px;
}

table.workouts td {
  padding: 12px;
  vertical-align: center;
  color: black;
}
table.workouts caption {
  background-color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: black;
  padding-top: .7em;
  padding-bottom: .7em;
  letter-spacing: .085em;
  width: 100%;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
table.workouts thead tr {
  text-align: left;
  background-color: white;
  border: 1px 1px 1px 0 solid gray;
  &:hover {
    background-color: white;
    cursor: inherit;
  }
}
table.workouts {
  tr {
    background-color: $gold2;
    cursor: pointer;

    .workout-date {
      display: flex;
      flex-direction: column;
    }
    &:hover {
      background-color: $gold;
      cursor: pointer;
    }
  }
}

div > table > tbody > .my-workout {
  background-color: $magenta2;

  &:hover {
    background-color: $magenta;
    cursor: pointer;

  }

  td {
    color: white;
  }
}

.selector {
  position: absolute;
  top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    z-index: 0;
    min-width: 150px;
    &:first-child {
      margin-right: 30%;
    }
  }
}
